* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

aside{
    border: #eeeeee solid 1px;
    width: 20%;
}

.search {
    margin: 10px;
    width: 90%;
    padding: 5px;
    border: 2px solid rgba(208, 205, 205, 0.61);
    border-radius: 8px;
    box-shadow:none;
}

li {
display: flex;
align-items: center;
}

h4 {
font-style: bold;
}

.contact  {
padding: 20px;
gap: 10px;

}

.contact:hover {
background-color: #ededed;
border-radius: 10px;
margin-bottom: 10px;
cursor: pointer;
}

.contact img {
    width: 20%;
    border-radius: 50%;
}

main  {
background-size: contain;
width: 1200px;
}

.chat-header {
display: flex;
align-items: center;
gap: 10px;
pad: 20px;
width: 100%;
}

.img-chatheader {
    padding: 10px;
    gap:10px;
    border-radius: 50%;
    width: 12%;
}

.chat-actions {
display: flex;
align-items: center;
width: 100%;
justify-content: end;
}

.status-online {
color: grey;
font-size: smaller;
}

.status-offline  {
color: grey;
font-size: smaller;    
}

.status-online::before {
    content:'●';
    color: green;

}

.status-offline::before {
    content:'●';
    color: red;

}

.chat-message-header {
    display: flex;
    border: #eeeeee solid 1px;

}
.chat-message  {
    background-color: #f6f8f9;
    border: #eeeeee solid 1px;
    height: 600px;
    padding: 20px;
    gap: 10px;
}

.timestamp {
    color: grey;
    font-size: smaller;
}
.message-sent {
margin-bottom: 20px;
padding: 10px;
gap: 10px;
background-color: #e4f2f7;
border-radius: 10px;
width: 50%;
margin-left: auto;
}

.message-received {
margin-bottom: 20px;
padding: 10px;
gap: 10px;
background-color: rgb(230, 230, 230);
border-radius: 10px;
width: 50%;
}

.chat-footer {
    border: #eeeeee solid 1.5px;
    padding: 10px;
    gap: 10px;
    display: flex;
}

.plain {
 background: none;
border:none;
cursor:pointer;
scale: 160%;   
}

input {
display: block;
width: 100%;
}

.text-here {
    margin: 5px;
    width: 90%;
    padding: 5px;
    border: 2px solid rgba(208, 205, 205, 0.61);
    border-radius: 8px;
    box-shadow:none;
   }

.take-image  {
background: none;
border:none;
padding: 5px;
cursor:pointer;
scale: 130%;
}

.send-image  {
background: none;
border:none;
padding: 5px;
cursor:pointer;
scale: 130%;
}

.configuration  {
background: none;
border:none;
padding: 5px;
cursor:pointer;
scale: 130%;
}

.help  {
background: none;
border:none;
padding: 5px;
cursor:pointer;
scale: 130%;
}

